<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Citas_1._0.Properties.Settings.cotizacionConnectionString"
            connectionString="Data Source=DESKTOP-F9IBHA9\SQLEXPRESS;Initial Catalog=cotizacion;Persist Security Info=True;User ID=carlos;Password=1234"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>